body {
	background-color: #2f3336;
	color: #778899;
	font-size: 2em;
	font-family: verdana;
	text-align: center;
}

td {
	text-align: center;
	padding: 15px;
	padding-bottom: 0px;
}

#ct_score {
	color: #3de354;
	font-size: 2em;
}

#t_score {
	color: #e3543d;
	font-size: 2em;
}