html {
    font-size: 2em;
}

body {
    background-color: #2f3336;
    color: #778899;
    font-family: verdana;
}

td {
    text-align: center;
    padding: 15px 25px 0 0;
}

#ct_score {
    color: #3de354;
}

#t_score {
    color: #e3543d;
}
